.container{
	width:1170px;
}

.slidemask{
	background:#141d2d;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; // first!
	filter: alpha(opacity=90);	
}

.navbar .nav>li{
	padding-right:0px;
}

.navbar .nav>li{
	padding-left:35px;
}

.navbar .nav>li:first-child{
	padding-left:0;
}

.team{
	-pie-background-size:cover;	
	behavior: url(css/PIE.htc);
}

.team{
	width: 273px;
	height: 273px;
}
	
css3-container{
	z-index:1!important;
}

.mask{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; // first!
	filter: alpha(opacity=60);*/
}

.mask:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // first!
	filter: alpha(opacity=0);*/
}

.flexslider {
	background: #000;
}

.featuresetblocktext{
	float:right;
}

.companyteam {
	margin-right: 5px;
}

.dashed-line {
	letter-spacing:0;
	width:9.9%;
}