html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.gitter-chat-embed-action-bar {
	display: none;
}

#glayzzle-chat iframe {
	width: 100%;
	height: 410px;
}

/*@font-face
{
font-family: HelveticaNeueLTProRoman;
src: url('../fonts/HelveticaNeueLTPro-Roman.eot'),
     url('../fonts/HelveticaNeueLTPro-Roman.otf'),
     url('../fonts/HelveticaNeueLTPro-Roman.woff'),
     url('../fonts/helveticaneueltpro-roman-webfont.eot');
}

@font-face
{
font-family: NeueHaasGroteskDisplayW02Lt;
src: url('../fonts/NeueHaasGroteskDisplayW02Lt.ttf'),
	 url('../fonts/NeueHaasGroteskDisplayW02Lt.woff');
}

@font-face
{
font-family: NeueHaasGroteskDisplayW02XtraLt;
src: url('../fonts/NeueHaasGroteskDisplayW02XtraLt.ttf'),
	 url('../fonts/NeueHaasGroteskDisplayW02Lt.woff');
}

@font-face
{
font-family: NeueHaasGroteskTextW02Regular;
src: url('../fonts/NeueHaasGroteskTextW02Regular.ttf');
}

@font-face
{
font-family: NeueHaasGroteskTextW02Medium;
src: url('../fonts/NeueHaasGroteskTextW02Medium.ttf'),
	 url('../fonts/NeueHaasGroteskDisplayW02Lt.woff');
}*/

h1,h2,h3,h4,h5,h6{
	font-size: 44px;
	line-height: 47px;
}

a,a:focus{
	outline:0!important;
	border:none!important;
}

a {
	color:#2d2d2d;
	text-decoration: none;
   	-webkit-transition:all 0.2s ease-in;
   -moz-transition:all 0.2s ease-in;
   -o-transition:all 0.2s ease-in;
   transition:all 0.2s ease-in;
}

a:hover{
	text-decoration: none;
	color:#cf5631;
	-webkit-transition:all 0.2s ease-in;
   -moz-transition:all 0.2s ease-in;
   -o-transition:all 0.2s ease-in;
   transition:all 0.2s ease-in;
}

/* fonts (change the fonts here if you have bought Neue Hass Grotesk webfont) */

body{
	font-family: 'Open Sans', sans-serif;    /* change this line to font-family: 'NeueHaasGroteskDisplayW02XtraLt', sans-serif; */
	font-size:14px;
	color:#fff;
	line-height:21px;
	text-rendering: optimizeLegibility;
	overflow-x:hidden;
	/*letter-spacing:1px;*/		/* uncomment the code on this line */
}

code {
	color: #333;
	min-height: 40px;
	width: 100%;
	display: block;
	border: solid 1px #999;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 4px;
	padding: 8px;
}

code .gist .gist-file {
	margin-bottom: 0px;
}

.toptext{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#2d2d2d;
	line-height:17px;
	display:inline-block;
	padding-right:25px;
	letter-spacing:0;
}

.clogin{
	font-family: 'Open Sans', sans-serif;
	color:#cf5631;
	font-size:14px;
	line-height:17px;
	letter-spacing:0;
}

.teamtitle{
	font-family: 'Open Sans', sans-serif;     /* change this line to 	font-family: 'NeueHaasGroteskDisplayW02Lt', sans-serif; */
	font-size:24px;
	line-height:27px;
	color:#52697a;
	padding-bottom:10px;
	text-transform:uppercase;
}

.price{
	color:#252525;
	font-family: 'Montserrat', sans-serif;     /* change this line to font-family: 'NeueHaasGroteskTextW02Medium', sans-serif;   */
	font-size:72px;
	line-height:75px;
}

.price1{
	padding-top:5px;
	font-family: 'Open Sans', sans-serif;     /* change this line to 	font-family: 'NeueHaasGroteskDisplayW02Lt', sans-serif; */
	font-size:14px;
	line-height:17px;
	color:#329ac6;
}

.pricingtitle{
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;      /* change this line to font-family: 'NeueHaasGroteskTextW02Medium', sans-serif;  */
	font-size:36px;
	line-height:39px;
	color:#252525;
	padding:30px 0 25px 0;
	border-bottom:1px solid #d7d7d7;
}

.pricingsubtitle{
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;	     /* change this line to font-family: 'NeueHaasGroteskDisplayW02Lt', sans-serif; */
	font-size:18px;
	line-height:21px;
	color:#6d6d6d;
	padding:16px 0;
}

.order{
	font-family: 'Montserrat', sans-serif;      /* change this line to font-family: 'NeueHaasGroteskTextW02Medium', sans-serif;  */
	font-size:16px;
	line-height:19px;
	border: solid 1px #1b7ba3;
	color:#fff;
	padding:10px 55px;
	text-transform:uppercase;
	background:#329ac6;
	background-image: -webkit-linear-gradient(top, #4fb7e3, #329ac6);
	background-image: -moz-linear-gradient(top, #4fb7e3, #329ac6);
	background-image: -o-linear-gradient(top, #4fb7e3, #329ac6);
	background-image: -ms-linear-gradient(top, #4fb7e3, #329ac6);
	background-image: linear-gradient(to bottom, #4fb7e3, #329ac6);
	margin:10px 0 30px;
	display:inline-block;
}

.footertext{
	text-align:center;
	padding:40px 0;
	color:#454545;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	line-height:20px;
	letter-spacing:0;
}

/* fonts  */

/* header section */

.topblock{
	padding:20px 0;
	border-bottom:1px solid #e5e5e5;
}

.toptext:last-child{
	padding-right:0;
}

.topbarl{
	float:left;
}

.topbarr{
	float:right;
	width:25%;
	text-align:right;
}

.headerblock{
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	z-index: 99999;
	background:#fff;
	/*background-color: rgba(255, 255, 255, 0.98);*/
}

.logoblock{
	padding:15px 0;
	border-bottom:2px solid #041e34;
}

.fixedheader{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999999;
	top: 0;
	padding:20px 0;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
}

.logo{
	display:inline-block;
	vertical-align:top;
	z-index: 2;
	position: absolute;
	float:left;
}

/* end header section */

/** sections **/
.section {
	border-bottom: 2px solid #041e34;
	padding-bottom: 30px;
}

.white {
	color:#333;
	background: #eee;
}

.gray {
	color:#111;
	background: #ccc;
}

.blue {
	background: #065892;
	color: #ffffff;
}
.blue .text {
	color: #329ac6;
}
.navy {
	background-color: rgba(6,30,60,0.9)
}

.text p {
	margin-bottom: 10px;
}

.text a {
	text-decoration: underline;
}

/* slider section */

.padTop {
	padding-top: 106px;
}

.fraction-slider .prev, .fraction-slider .next {
	width: 57px;
	height: 85px;
}

.fraction-slider .prev {
	left: 15px;
	top: 40%;
	background: url(../images/arrows.png) 0px 0px no-repeat transparent;
}

.fraction-slider .prev:hover{
	background: url(../images/arrows.png) -6px -104px no-repeat transparent;
}

.fraction-slider .next{
	right:15px;
	top: 40%;
	background: url(../images/arrows.png) -75px -2px no-repeat transparent;
}
.fraction-slider .next:hover{
	background: url(../images/arrows.png) -77px -102px no-repeat transparent;
}

.sliderheading{
	color:#fff;
	font-size:60px;
	text-transform:none;
	left:0!important;
	width:100%;
	text-align:center;
	font-family: 'NeueHaasGroteskDisplayW02XtraLt', sans-serif;
	font-size:60px;
	line-height:63px;
	text-transform:uppercase;
}

.sliderheading sup{
	top:-13px!important;
}

.slidelink{
	color:#fff;
	font-size:36px;
	text-transform:uppercase;
	border:2px solid #fff;
	padding:1% 2.3%;
}

.slidelink:hover{
	color:#fff;
	text-decoration:none;
}

.slider-wrapper{
	position:relative;
	overflow:hidden;
	background:url('http://www.placehold.it/1600x722');   /* set the background image of the slider here */
	background-size:cover;
}

.slidemask{
	background:rgba(6,30,60,0.9);
	width:100%;
	height:100%;
	position:absolute;
}

.slider{
	margin:0 auto;position:relative;
}

/* end slider section */

/* common for all sections */

.servicesblock{
	background:#2d2d2d;
	border-bottom:2px solid #041e34;
}

.titleblock{
	padding:70px 0;
}

.titleblock h1 {
	text-transform:uppercase;
	text-align:center;
	width: 80%;
	display:inline-block;
}

.title {
	text-transform:uppercase;
	display:inline-block;
	padding: 0 0 15px 0;
	font-family: 'NeueHaasGroteskDisplayW02Lt', sans-serif;
	font-size: 24px;
	line-height: 27px;
	text-transform: uppercase;
}


sup{
	text-transform:lowercase;
	position: relative;
	top: -15px;
	font-size: 40px;
	color:#cf5631;
}



.dashed-line{
	background:#6d6d6d;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 1px 1px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px rgba(0,0,0,.5);
	box-shadow: 1px 1px rgba(0,0,0,.5);
	width:10%;
	height:2px;
	display:inline-block;
	vertical-align: top;
	margin-top: 32px;
	margin-right:-4px;
}

#support .dashed-line,#pricing .dashed-line,#payment .dashed-line{
	background:#fff;
}

/*  end common section */

/* services section */

.iconb{
	padding-bottom:25px;
	min-height:68px;     /* set min-height to maximum height of the 3 service icons */
}

.serviceicon{
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
	margin:0 auto;
}

.serviceblk1:hover .serviceicon{
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
}

.serviceicon1{
	background:url(../images/icons.png) 0 -3px no-repeat;    /* set image of icon1 here */
	width: 64px;			/* set width of icon1 here */
	height: 48px;			/* set height of icon1 here */
}

.serviceblk1:hover  .serviceicon1{
	background:url(../images/icons.png) 0 -81px no-repeat;    	/* set hover image of icon1 here */
}

.serviceicon2{
	background:url(../images/icons.png) -154px 0 no-repeat;		/* set image of icon2 here */
	width: 64px;			/* set width of icon2 here */
	height: 64px;			/* set height of icon2 here */
}

.serviceblk2:hover  .serviceicon2{
	background:url(../images/icons.png) -153px -75px no-repeat;    	/* set hover image of icon2 here */
}

.serviceicon3{
	background:url(../images/icons.png) -77px 0 no-repeat;		/* set image of icon3 here */
	width: 64px;			/* set width of icon3 here */
	height: 64px;			/* set height of icon3 here */
}

.serviceblk3:hover  .serviceicon3{
	background:url(../images/icons.png) -78px -72px no-repeat;    	/* set hover image of icon3 here */
}

h2 {
	padding:0 0 15px 0;
	font-family:'NeueHaasGroteskDisplayW02Lt', sans-serif;
	font-size:24px;
	line-height:27px;
	color:#6d6d6d;
	text-transform:uppercase;
}

.server{
	padding-top:80px;
}

.cmsimg img{
	display:block;
}

.cms{
	position:relative;
}

.cmsimg{
	position:absolute;
	right:-100%;
	bottom:0;
	float:right;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
}

.cmsimgr{
	right:0;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
}

.cmsleft{
	position:relative;
	left:0;
	-webkit-transition:all 1s ease-in;
   -moz-transition:all 1s ease-in;
   -o-transition:all 1s ease-in;
   transition:all 1s ease-in;
}

.cmsleftl{
	position:relative;
	left:0;
	-webkit-transition:all 1s ease-in;
   -moz-transition:all 1s ease-in;
   -o-transition:all 1s ease-in;
   transition:all 1s ease-in;
}

/* end services section */

/* about section */

.aboutblock{
	background:#29343d;
	border-bottom:2px solid #041e34;
	padding-bottom:80px;
}

.team{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-bottom:20px;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
	background-size:cover;
	background: #1c252c;
	-webkit-box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 0px #1c252c;
	-moz-box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 0px #1c252c;
	box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 0px #1c252c;
	-webkit-transition: box-shadow 400ms ease-in-out;
	-moz-transition: box-shadow 400ms ease-in-out;
	-o-transition: box-shadow 400ms ease-in-out;
	-ms-transition: box-shadow 400ms ease-in-out;
	transition: box-shadow 400ms ease-in-out;
}

.teamsocialblock{
	padding-top:20px;
}

.teamsocial{
	width:35px;
	height:35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display:inline-block;
	margin-right:8px;
}

.teamsocial:last-child{
	margin-right:0;
}

.tfb{
	background:#1c252c url(../images/tfb.png) center no-repeat;
}

.tfb:hover{
	background:#141b20 url(../images/tfb.png) center no-repeat;
}

.ttw{
	background:#1c252c url(../images/ttw.png) center no-repeat;
}

.ttw:hover{
	background:#141b20 url(../images/ttw.png) center no-repeat;
}

.tgplus{
	background:#1c252c url(../images/tgplus.png) center no-repeat;
}

.tgplus:hover{
	background:#141b20 url(../images/tgplus.png) center no-repeat;
}

.teammem{
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
	margin-bottom:20px;
	text-align:center;
}

.teammem:hover .team{
	opacity:1;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
    box-shadow:
        inset 0 0 0 0 rgba(0,0,0,0.6),
        inset 0 0 0 0px #1c252c,
        0 0 10px rgba(0,0,0,0.3);
}

.team1{
	background:url('http://www.placehold.it/514x640') center no-repeat;    	/* set image of team member 1 here */
	background-size: cover;
}

.team2{
	background:url('http://www.placehold.it/514x640') center no-repeat;    	/* set image of team member 2 here */
	background-size: cover;
}

.team3{
	background:url('http://www.placehold.it/514x640') center no-repeat;    	/* set image of team member 3 here */
	background-size: cover;
}

.team4{
	background:url('http://www.placehold.it/514x640') center no-repeat;    	/* set image of team member 4 here */
	background-size: cover;
}

.companyblock p{
	margin-bottom:35px;
}

.companyblock p:last-child{
	margin-bottom:0;
}

.companyteam img{
	display:block;
}

.companyteam{
	margin-right:5px;
	margin-top:20px;
	display:inline-block;
	position:relative;
}

.companyteam:last-child{
	margin-right:0;
}

/* end about section */

/* pricing section*/

.pricing{
	background:#065892;
	border-bottom:2px solid #041e34;
}

.pricingtext{
	text-align:center;
	font-size:24px;
	line-height:27px;
}

.pricingblock{
	background:#fff;
	text-align:center;
	position:relative;
	top:80px;
	border-right:1px solid #000001;
	-webkit-transition:top 0.5s ease-in;
   -moz-transition:top 0.5s ease-in;
   -o-transition:top 0.5s ease-in;
   transition:top 0.5s ease-in;
}

.pricingblock:hover{
	top:0px;
	-webkit-transition:top 0.5s ease-in;
   -moz-transition:top 0.5s ease-in;
   -o-transition:top 0.5s ease-in;
   transition:top 0.5s ease-in;
}

.open{
	top:0;
}

.order:hover{
	color:#fff;
}

.pricingblockcontainer{
	margin-top:75px;
}


.orange{
	color:#cf5631;
}
.pricinglist{
	border-bottom:1px solid #d7d7d7;
	background:#fff;
}

.pricinglist1{
	background:#fafcfd;
}

.pricinglist2{
	border-bottom:1px solid #fff;
}

.pricinglist li{
	color:#252525;
	padding-top:15px
}

.pricinglist li:last-child{
	padding-bottom:15px
}

.priceblock{
	padding:25px 0;
	background:#f0f3ff;
	background-image: -webkit-linear-gradient(top, #f0f3ff, #e0e6ff);
	background-image: -moz-linear-gradient(top, #f0f3ff, #e0e6ff);
	background-image: -o-linear-gradient(top, #f0f3ff, #e0e6ff);
	background-image: -ms-linear-gradient(top, #f0f3ff, #e0e6ff);
	background-image: linear-gradient(to bottom, #f0f3ff, #e0e6ff);
}

/* end pricing section*/

/* payment section*/

.paymentsupport{
	background:#05497a;
	border-bottom:2px solid #041e34;
	z-index:2;
	position:relative;
}

.pay{
	text-align:center;
	padding-bottom:70px;
}

.pay img{
	display:inline-block;
	padding:0 20px;
}

.pay img:hover{
	opacity:0.8;
}

/* end payment section*/

/* feature section */

.featureblock{
	background:#262932;
}

.featureblock1{
	background:#262932;
	border-bottom:2px solid #041e34;
	position:relative;
}

.featureabs{
	position:absolute;
	bottom:0;
	left:-100%;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
}

.featureabsl{
	left:0;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
}

.featuresetblocktext{
	z-index: 2;
	position: relative;
	right:0;
	-webkit-transition:all 1s ease-in;
   -moz-transition:all 1s ease-in;
   -o-transition:all 1s ease-in;
   transition:all 1s ease-in;
}

.featuresetblocktextr{
	right:0;
	-webkit-transition:all 1s ease-in;
   -moz-transition:all 1s ease-in;
   -o-transition:all 1s ease-in;
   transition:all 1s ease-in;
	transition-delay:1s;
}

.featureabs img{
	display:block
}


.featureset{
	padding-top:15px;
}

.featureset li{
	padding-bottom:5px;
	font-size:24px;
	line-height:27px;
	color:#cf5631;
}

.featuresetblock p {
	margin-bottom: 35px;
}

.featuresetblock p:last-child{
	margin-bottom: 0;
}

/* end feature section */

/* client section */

.clientblock{
	background:#29343d;
	border-bottom:2px solid #041e34;
}

.frameborder{
	position:relative;
}

.frameborder img{
	display:block;
}

.frame{
	position: absolute;
	width: 92.1%;
	height: 92%;
	top: 0;
	margin: 47px 47px 0 47px;
}

.clientmain{
	float:left;
	width:200px;
	height:200px;
	font-size:0;
	position:relative;
}

.mask{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.6;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
   top:0;
}

.mask:hover{
	opacity:0;
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
}

/* end client section */

/* contact section */

#support {
	background-image: url(../images/support.png) center no-repeat;
	padding-bottom: 75px;
}

.supporttitle{
	font-family: 'NeueHaasGroteskTextW02Regular', sans-serif;
	font-size:24px;
	line-height:27px;
	color:#fff;
	padding-bottom:12px;
	text-transform:uppercase;
}

.supportleft p{
	margin-bottom:10px;
}

.supportleft p:last-child{
	margin-bottom:0;
}

.supportright p{
	font-size:24px;
	line-height:27px;
	margin-bottom:10px;
}

.supportright p:last-child{
	margin-bottom:0;
}

.supportsocialblock{
	padding-bottom:32px;
}

.social1{
	width:65px;
	height:67px;
	display:inline-block;
	margin-top:20px;
	margin-right:20px;
	opacity:0.8;
}

.social1:hover{
	opacity:1;
	-moz-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
	-webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   transition:all 0.5s ease-in;
}

.social1:last-child{
	margin-right:0;
}

.fb{
	background:url(../images/facebook.png);
}

.linkedin{
	background:url(../images/linkedin.png);
}

.tw{
	background:url(../images/twitter.png);
}

.flickr{
	background:url(../images/flickr.png);
}

.skype{
	background:url(../images/skype.png);
}

.pinterest{
	background:url(../images/pinterest.png);
}

.contact-form{
	padding-top:20px;
}

textarea:focus,input[type="text"]:focus{
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

input, textarea {
	width: 100%;
	border: 2px solid #dedede;
	margin-top: 10px;
	font-size: 13px;
	color: #3a3a3a;
	border-radius:0!important;
	text-indent:15px;
	-webkit-box-shadow: 1px 1px 1px #000!important;
	-moz-box-shadow: 1px 1px 1px #000!important;
	box-shadow: 1px 1px 1px #000!important;
}

input{
	padding:14px 0!important;
}

textarea{
	padding:14px 0!important;
	height:160px!important;
}

#submit{
	padding: 14px 25px!important;
	font-size:18px;
	text-indent: 0;
	background:#017cb1;
	-webkit-box-shadow: 0 1px 1px #323957, inset 0 1px rgba(255,255,255,.2);
	-moz-box-shadow: 0 1px 1px #323957, inset 0 1px rgba(255,255,255,.2);
	box-shadow: 0 1px 1px #323957, inset 0 1px rgba(255,255,255,.2);
	border:0;
	color:#fff;
	-webkit-transition:top 0.5s ease-in;
   -moz-transition:top 0.5s ease-in;
   -o-transition:top 0.5s ease-in;
   transition:top 0.5s ease-in;
}

#submit:hover{
	background:#017cf1;
	-webkit-transition:top 0.5s ease-in;
   -moz-transition:top 0.5s ease-in;
   -o-transition:top 0.5s ease-in;
   transition:top 0.5s ease-in;
}

.contact-form .error{
	border:2px solid #cf5631;
}

.sentsucc{
	color:#fff;
	padding-top: 20px;
	font-size: 18px;
}

.gmap iframe{
	height:240px!important;
	width:100%!important;
}

/* end contact section */

/* navigation section */

.navbar{
	display:inline-block;
	float:right;
	margin-bottom:0;
}

.navbar .nav{
	margin-top: 10px;
}

.navbar .nav>li>a {
	padding: 0 0 8px 0;
	font-family: 'HelveticaNeueLTProRoman', sans-serif;
	font-size:17px;
	color:#454545;
	line-height:20px;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover{
	color:#454545;
}

.navbar .nav>li>a:hover{
	color:#cf5631!important;
}

.navbar .nav>li{
	padding-right:35px;
}

.navbar .nav>li:last-child{
	padding-right:0;
}

.nav .current a{
	border-bottom:3px solid #cf5631!important;
}

.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus,.navbar-inverse .brand, .navbar-inverse .nav>li>a ,.navbar-inverse .nav>li>a:hover  {
	color: #454545;
	background-color: transparent!important;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus,.navbar-inverse .brand, .navbar-inverse .nav>li>a {
	box-shadow: none;
	text-shadow:none;
}

.navbar .btn-navbar {
	background:#cf5631!important;
	border:0!important;
	border-radius:0!important;
}

/* end navigation section */


/* Large desktop */
@media (min-width: 1200px) {
	.team{
		width: 273px;
		height: 273px;
	}

	.topbarr{
		width:50%;
	}
}

@media (max-width: 1200px) {

}

@media (min-width: 980px) and (max-width: 1199px) {
	.frame{
		width: 92.1%;
		height: 92%;
		margin: 37px 37px 0 37px;
	}

	.order {
		padding: 10px 25px;
	}

	.pricingtitle {
		font-size: 30px;
		line-height:33px;
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.frame{
		width: 92.1%;
		height: 92%;
		margin: 30px 29px 0 29px;
	}

	.team{
		width: 160px;
		height: 160px;
	}

	.order {
		padding: 10px 15px;
	}

	.pricingtitle {
		font-size: 22px;
		line-height: 25px;
	}

	.pricingsubtitle {
		font-size: 14px;
		line-height:18px;
	}

	.price {
		font-size: 56px;
		line-height: 59px;
	}
}

@media (min-width: 623px) and (max-width: 767px) {
	.frame{
		width: 92.1%;
		height: 92%;
		margin: 25px 25px 0 25px;
	}
}

@media (max-width: 979px) {

	.navbar {
		display: block;
		float: none;
		text-align: center;
		position: relative;
		bottom: 4px;
	}

	.navbar .nav {
		margin: 20px 0 0 0;
		text-align:left;
	}

	.navbar .nav>li {
		padding-right: 0;
	}

	.nav>li>a{
		box-shadow: none;
		text-shadow: 1px;
		font-weight:normal!important;
		color:#454545;
	}

	.nav .current a{
		border-bottom:none!important;
		color:#cf5631!important;
	}

	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
		padding: 10px 0 10px 10px;
	}

	.navbar .nav > li {
		background: none repeat scroll 0 0 #E1E1E1;
	}

}

@media (min-width: 481px) and (max-width: 622px) {
	.frame{
		width: 92.1%;
		height: 92%;
		margin: 20px 20px 0 20px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body{
		padding-left:0px;
		padding-right:0px;
	}

	.pricingblock{
		top: 0px;
	}

	.paddingcnt{
		padding:0 20px;
	}

	.supportright{
		padding-top:70px;
	}

	.featureblock1{
		height:auto!important;
	}

	.featureabs{
		position:relative;
	}

	.featuresetblock{
		padding:70px 0;
	}

	.pricingblock{
		margin-bottom:70px;
	}

	.mission{
		padding-top:60px;
	}

	.team{
		width: 250px;
		height: 250px;
	}

	.serviceblk {
		padding-bottom: 70px;
	}

	.serviceblk:last-child {
		padding-bottom: 0;
	}

	.cms{
		height:auto!important;
	}

	.cmsimg{
		position:relative;
		padding-top:70px;
	}

	.title{
		width: 100%;
		float: none;
	}

	.dashed-line{
		display:none;
	}

	.featureabs{
		left:0;
	}

	.cmsimg {
		right: 0;
	}

	.cmsleft{
		left:0;
	}

	.featuresetblocktext{
		right:0;
	}

}

@media (min-width: 481px) and (max-width: 979px) {
	.fraction-slider .prev, .fraction-slider .next {
		width: 35px;
		height: 52px;
	}

	.fraction-slider .prev {
		left: 15px;
		top: 45%;
		background: url(../images/mediumarrows.png) -3px -1px no-repeat transparent;
	}

	.fraction-slider .prev:hover{
		background: url(../images/mediumarrows.png) 0 -60px no-repeat transparent;
	}

	.fraction-slider .next{
		right:15px;
		top: 45%;
		background: url(../images/mediumarrows.png) -56px 0 no-repeat transparent;
	}

	.fraction-slider .next:hover{
		background: url(../images/mediumarrows.png) -55px -63px no-repeat transparent;
	}


}

/* Landscape phones and down */
@media (max-width: 480px) {

	.fraction-slider .prev, .fraction-slider .next {
		width: 20px;
		height: 30px;
	}

	.fraction-slider .prev {
		left: 15px;
		top: 45%;
		background: url(../images/smallarrows.png) -2px 0 no-repeat transparent;
	}

	.fraction-slider .prev:hover{
		background: url(../images/smallarrows.png) 0 -46px no-repeat transparent;
	}

	.fraction-slider .next{
		right:15px;
		top: 45%;
		background: url(../images/smallarrows.png) -29px -1px no-repeat transparent;
	}

	.fraction-slider .next:hover{
		background: url(../images/smallarrows.png) -33px -45px no-repeat transparent;
	}


	.topbarr {
		width:30%;
	}
}

@media (min-width: 321px) and (max-width: 480px){
	.frame{
		width: 92.1%;
		height: 92%;
		margin: 14px 14px 0 14px;
	}
}

/* potrait phones and down */
@media (max-width: 320px) {
	.frame{
		width: 92.1%;
		height: 92%;
		margin: 10px 10px 0 10px;
	}
}
